*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.carousel-item {
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row{
  margin-top: 5px;
}
body{
  margin:0;
  padding:0;
  width: 100%;
}
.display-4{
  background-position: center;
  color:black;
  position: relative;
  bottom:120px;
  font-family: 'Abril Fatface', cursive;
}
#butter{
  margin-bottom: 20px;
}
.lead{
  color:#2B3305;
}
.footer {
  height:300px;
  width: 100%;
  background-color:#ced6e0;
  color: white;
  text-align: center;
  margin-top: 5px;
}
#truck{
  position: relative;
  float:left;
  top: 80px;
  left: 100px;
}
.footer{
  display:flex;
  align-items:center;
}
.icon-middle h3{
  display:inline-block;
}
.icon-middle i{
  padding:0 6px;
}
#footer2{
  background-color:#2f3542;
}
